@media print {
   @page {
     margin-left: 0.8in;
     margin-right: 0.8in;
     margin-top: 0;
     margin-bottom: 0;
   }
}

.texto {
	text-align: justify;
  	text-justify: inter-word;
}
